.cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.cardsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 70%;
  max-width: 700px;
}

.cardsTrack {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.7s ease-in-out 0s;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid var(--text-secondary);
  color: var(--text-primary);
  border-radius: 5px;
  background-color: rgba(197, 169, 129, 0.95);
  background-image: repeating-linear-gradient(
      45deg,
      rgba(197, 169, 129, 0.45) 0px,
      transparent 10px
    ),
    radial-gradient(circle, #f9f4e1 50%, #c5a880 110%);
  transition: all 0.8s linear 0s;
}
.card:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 20px rgba(255, 150, 0, 0.8);
}

.iconButton {
  background-color: transparent;
  border: 1px solid var(--text-secondary);
  border-radius: 50%;
  padding: 0px;
  margin: 0 5px;
  cursor: pointer;
}
.iconButton:hover {
  background-color: #c5a880;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.content {
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
}

.imageContainer {
  width: 100%;
  height: 120px;
  background-color: #8889;
}

@media screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
  }
  .card {
    margin-bottom: 15px;  
  }
}