.cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cardsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  overflow: hidden;
}

.cardsTrack {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    border: 1px solid var(--text-secondary);
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  width: 250px;
  /* min-width: 250px; */
  padding: 5px 10px;
  border: 1px solid var(--text-secondary);
  color: var(--text-primary);
  border-radius: 5px;
  background-color: rgba(197, 169, 129, 0.95);
  background-image: repeating-linear-gradient(
      45deg,
      rgba(197, 169, 129, 0.45) 0px,
      transparent 10px
    ),
    radial-gradient(circle, #f9f4e1 50%, #c5a880 110%);
  transition: all 0.5s linear 0s;
}
.card:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1) ,0px 0px 20px rgba(255, 150, 0, 0.8);
}

.title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.content {
  margin-bottom: 20px;
}

.link {
  color: var(--text-primary);
  text-decoration: none;
}
