@keyframes slideInPaper {
  0% {
    transform: translateY(100%) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f9f4e1;
  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(83, 46, 28, 0.09) 0px,
      transparent 2px
    ),
    radial-gradient(circle, #f9f4e1 60%, #c5a880 140%);
  color: #532e1c;
  width: 400px;
  padding: 40px;
  border: 1px solid #0f0f0f;
  border-radius: 3px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  inset: 0 0 100px rgba(255, 255, 255, 0.2);
  animation: slideInPaper 1.5s ease-in-out;
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 0;
  margin: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.closeBtn:hover {
  box-shadow: none;
}
.imageContainer {
  width: 100%;
  height: 200px;
  background-color: #8889;
  margin: 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.linksBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
    padding: 20px;
  }
  .closeBtn {
    font-size: 18px;
  }
}
