/** @Color palette
  --background-primary: #E6E6E6;
  --background-secondary: #C5A880;
  --text-primary: #0F0F0F;
  --text-secondary: #532E1C;
  */
  
  :root {
    --background: #E6E6E6;
    --background-transparent: #E6E6E666;
    --foreground: #532E1C;
    --foreground-transparent: rgba(83, 46, 28, 0.88);
    --text-primary: #0F0F0F;
    --text-secondary: rgb(197, 169, 129);
    --text-light: #f0f0f0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

.page-background {
  --background: #0F0F0F;
  --foreground: #E6E6E6;

  --text-primary: #0F0F0F;
  --text-secondary: #532E1C;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.page-frame {
  display: flex;
  height: 95vh;;
  width: 97vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--text-secondary);
  padding-left: 25px ;
  /* background-color: #C5A880; */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: 1px;
  scrollbar-color: var(--text-secondary) var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
