/** @Color palette
  --background-primary: #E6E6E6;
  --background-secondary: #C5A880;
  --text-primary: #0F0F0F;
  --text-secondary: #532E1C;
  */

:root {
  --background: #e6e6e6;
  --background-transparent: #e6e6e666;
  --foreground: #532e1c;
  --foreground-transparent: rgba(83, 46, 28, 0.88);
  --text-primary: #0f0f0f;
  --text-secondary: #c5a981;
  --secondary-transparent: #c5a9819d;
  --text-light: #f0f0f0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: var(--font-varelaRound), Arial, Helvetica, sans-serif;
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bellefair);
  color: #532e1c;
  font-size: 2.0rem;
}
p,
button,
input,
textarea,
select,
option,
label,
span,
a {
  font-family: var(--font-varelaRound);
  color: var(--text-primary);
}

.p {
  font-size: 1.3rem;
  line-height: 1.5px;
  margin-bottom: 15px;
}

.page-background {
  --background: #0f0f0f;
  --foreground: #e6e6e6;

  --text-primary: #0f0f0f;
  --text-secondary: #532e1c;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.page-frame {
  display: flex;
  height: 95vh;
  width: 97vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
  /* background-color: yellowgreen; */
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--text-secondary);
  padding-left: 25px;
  /* background-color: #C5A880; */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: 1px;
  scrollbar-color: var(--text-secondary) var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainButton {
  cursor: pointer;
  border: none;
  background-color: #532e1c;
  color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

.mainButton:hover {
  background-color: #383838;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.mainButtonDisabled {
  cursor: not-allowed;
  background-color: #532e1c33;
  color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}
.mainButtonDisabled:hover {
  background-color: #532e1c33;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}

.secodaryButton {
  cursor: pointer;
  color: var(--text-primary);
  text-decoration: none;
  background-color: #c5a880;
  padding: 0 5px;
  margin: 0 auto;
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.secodaryButton:hover {
  background-color: #c5a880;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 20px rgba(255, 150, 0, 0.8);
}

.secodaryButtonDisabled {
  cursor: not-allowed;
  color: var(--text-primary);
  text-decoration: none;
  background-color: #c5a88033;
  padding: 0 5px;
  margin: 0 auto;
  border: 1px solid var(--secondary-transparent);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.secodaryButtonDisabled:hover {
  background-color: #c5a88033;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 3px rgba(255, 150, 0, 0.8);
}

.iconButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #532e1c;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0;
  transition: all 0.2s ease-in-out;
}
.iconButton:hover {
  background-color: #532e1c33;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}

.iconButtonDisabled {
  cursor: not-allowed;
  color: #532e1c33;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0;
  transition: all 0.2s ease-in-out;
}
.iconButtonDisabled:hover {
  background-color: #532e1c33;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}