@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* animation: name duration timing-function delay iteration-count direction fill-mode; */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 300px;
}

.logo {
  width: 600px;
  animation: fadeIn 2s ease-in-out 0.5s 1 normal both;
}


.slogenContainer {
  direction: ltr;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slogen {
  direction: ltr;
  font-size: 1.5rem;
  margin-left: 7px;
}

.s1 {
  animation: fadeIn 1s ease-in-out 2.2s 1 normal both;
}
.s2 {
  animation: fadeIn 1s ease-in-out 3.2s 1 normal both;
}
.s3 {
  animation: fadeIn 1s ease-in-out 4.2s 1 normal both;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 40px 0;
  animation: fadeIn 1s ease-in-out 5.2s 1 normal both;
}

@media screen and (max-width: 360px) {
  .logo {
    width: 280px;
  }
  .slogenContainer {
    flex-direction: column;
  }
  .slogen {
   font-size: 1rem;
  }
}