@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* animation: name duration timing-function delay iteration-count direction fill-mode; */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.logo {
  animation: fadeIn 2s ease-in-out 0s 1 normal both;
}


.slogenContainer {
  direction: ltr;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slogen {
  direction: ltr;
  font-size: 1.5rem;
  margin-left: 7px;
}

.s1 {
  animation: fadeIn 1s ease-in-out 1.8s 1 normal both;
}
.s2 {
  animation: fadeIn 1s ease-in-out 2.8s 1 normal both;
}
.s3 {
  animation: fadeIn 1s ease-in-out 3.8s 1 normal both;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 40px 0;
  animation: fadeIn 1s ease-in-out 4.8s 1 normal both;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
  margin-bottom: 40px;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    justify-content: flex-start;
  }  
  .logoContainer {
    width: 100%;
  }
  .logo {
    width: 400px;
    height: auto;
  }
  /* .slogenContainer {
    flex-direction: column;
  } */
  .slogen {
    font-size: 1.0rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 460px) {
  .logo {
    width: 300px;
    height: auto;
  }
  /* .slogenContainer {
    flex-direction: column;
  } */
  .slogen {
    font-size: 0.8rem;
  }
}