.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 10px 50px;
}

@media (max-width: 768px) {
  .mainContent {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .mainContent {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.navigator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  padding: 0 4px;
  background-color: var(--foreground-transparent);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menuButton {
  /* position: absolute; */
  /* top: 10px;
  left: 10px; */
  width: 45px;
  height: 45px;
  margin: 5px 0;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  background-color: rgba(197, 169, 129, 0.95);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
}

.test {
  background-color: var(--background);
  color: var(--foreground);
  width: 200px;
  height: 200px;
  margin: 10px 0;
}