.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 10px 50px;
}

@media (max-width: 768px) {
  .mainContent {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .mainContent {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.test {
  background-color: var(--background);
  color: var(--foreground);
  width: 200px;
  height: 200px;
  margin: 10px 0;
}