.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* width: 100%; */
  padding: 0;
  margin: 0;
}
.courseTitle {
  margin: auto 30px auto 0;
  }
  @media screen and (max-width: 768px) {
    .courseTitle {
      display: none;
    }
  }
.menuButton {
  width: 45px;
  height: 45px;
  margin: 5px 0;
  padding: 0;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  background-color: rgba(197, 169, 129, 0.95);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
}
.menuButton:hover {
  background-color: rgba(197, 169, 129, 1);
}
