.logo {
    padding: 0;
    margin: 0;
}
.menuButton {
  width: 45px;
  height: 45px;
  margin: 5px 0;
  padding: 0;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  background-color: rgba(197, 169, 129, 0.95);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
}
.menuButton:hover {
  background-color: rgba(197, 169, 129, 1);
}
