@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutLeft {
  0% {
    /* transform: translateX(0); */
    opacity: 1;
  }
  100% {
    /* transform: translateX(-100%); */
    opacity: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 340px;
  height: 600px;
  background-color: rgba(197, 169, 129, 0.95);
  color: var(--text-primary);
  position: absolute;
  left: 27px;
  top: 102px;
  bottom: 0;
  padding: 10px 40px;
  margin: 0px;
  border-radius: 0 15px 15px 0px;
  transition: all 0.7s ease-in-out;
  animation: slideInLeft 0.7s linear 0s 1 normal forwards;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: 1px;
  scrollbar-color: var(--text-primary) rgba(197, 169, 129, 0.95);
  box-shadow: 5px 5px 10px rgba(168, 168, 168, 0.5);
}

.exit {
  animation: slideOutLeft 2s linear 0s 1 normal forwards;
  transition: all 0.7s ease-in-out;
}

.title {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}

.moduleItem{
  margin-top: 15px;
  list-style: none;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.lessonItem {
  cursor: pointer;
  list-style: none;
  margin: 10px 0;
  padding: 3px 0;
  font-size: 1.0rem;
  font-weight: 400;
  border: 0;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.2);
  transition: all 0.4s ease-in-out;
}
.lessonItem:hover {
  background-color: rgba(255,255,255,0.4);
}

@media (max-width: 768px) {
  .container {
    width: 250px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    left: 0;
    right: 0;
    top: 13%;
    height: 70%;
    border-radius: 0px;
    animation: none;
  }
}
