.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 25px 0;
}

.imageContainer {
  padding: 5px;
  width: 70%;
  border-radius: 7px;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); */
  background-color: #532e1c;
  position: relative;
}

.imageDesc {
  margin-top: 2px;
  font-size: 0.6rem;
  color: #f0f0f0;
  text-align: right;
}